@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
* {
  font-family: 'Open Sans', sans-serif;
}

.main-auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.signup-section {
  background-repeat: no-repeat;
  position: relative;
  width: 800px;
  height: 500px;
  text-align: center;
  display: flex;
  color: #ffffff;
  /* box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5); */
  border-radius: 0 60px 60px 0;
  right: 150px;
}

.info-content {
  position: relative;
  align-content: center;
  width: 45%;
  background: rgb(61 56 51 / 91%);
  padding: 30px;
  border-right: 5px solid rgba(30, 30, 30, .8);
  z-index: 0;
  transition: ease-in-out 1s;
  left: 50%;
}

.open {
  left: 0%
}

.info-button {
  width: 70px;
  background: rgba(20, 20, 20, .8);
  border: 3px solid rgb(106 84 0 / 80%);
  align-content: center;
  z-index: 5;
  cursor: pointer;
}

.button-text {
  writing-mode: vertical-rl;
  color: #e9d0b3;
  transform: rotate(180deg);
  height: 100%;
  font-size: 2em;
  margin: 0;
}

.info-content h2 {
  font-weight: 100;
  font-size: 1.2em;
  color: #c7ae92;
}

.info-content a {
  text-decoration: none;
  font-size: 1.2em;
  color: #bb6400;
}

.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
  padding: 30px 0;
  background: rgb(211 192 156);
  transition: .2s;
  border-radius: 0 60px 60px 0;
  z-index: 5;
}

.signupForm h2 {
  margin: 0;
  font-size: 2em;
  font-weight: 500;
  color: rgb(28, 23, 0);
}

.li_input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-mes {
  color: #520000;
  margin-top: -10px;
  font-size: 0.7em;
  padding: 0 20px;
}

.inputFields {
  margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  width: 300px;
  border: 2px solid rgb(22 151 0);
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgb(226 226 226 / 75%);
  color: rgb(28, 23, 0);
  outline: none;
}

input:focus:invalid {border-color: rgb(140, 16, 16);} 

input:focus:valid {border-color: rgba(10, 180, 180, 1);}

.radio-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
  margin: 10px 0;
}

input[type="radio"] {
  margin-bottom: 10px;
}

input[type="radio"] + label {
  margin-left: 5px;
}

input[type="radio"]:checked {
  font-weight: bold;
  color: #271b04;
}

.no-bullet {
  list-style-type: none;
  padding: 0;
}

#join-btn {
  border: 2px solid rgb(209, 129, 0);
  background: rgb(106 58 7 / 76%);
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  transition: .4s;
}

#join-btn:disabled {
  background: #5a50509c;
  border: 2px solid rgb(158 163 163);
  cursor: default;
}

#join-btn:hover {
  background: rgba(67, 43, 15, 0.8);
  padding: 10px 80px;
}

/* modal error styles */

.modal-error {
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Затемненный фон */
}

.error-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.error-container p {
  margin: 20;
}

.error-container button {
  margin-top: 10px;
  padding: 8px 10px;
  background-color: #5b3818b7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.error-container button:hover {
  background-color: #a06b3a;
}
